// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.searchbar-md .searchbar-input {
  padding: 6px 55px;
  height: auto;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  color: #141414;
  background-color: rgba(255, 255, 255, 0.11);
  color: #fff;
  background-position: 8px center;
  box-shadow: none;
}

.icon[name="star"]{
  color:#ffc519;
}

.card-header{
  padding: 0px;
  font-size: 1.6rem;
  color: #222;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 14px;
}
